In [165]:
import pandas as pd
import numpy as np
import requests
import json
import ydata_profiling
from ydata_profiling.utils.cache import cache_file

In [95]:
nba = pd.read_csv('nba_2022-23_all_stats_with_salary.csv')

In [96]:
print(nba)

     Unnamed: 0        Player Name    Salary Position  Age     Team  GP  GS  \
0             0      Stephen Curry  48070014       PG   34      GSW  56  56
1             1          John Wall  47345760       PG   32      LAC  34   3
2             2  Russell Westbrook  47080179       PG   34  LAL/LAC  73  24
3             3       LeBron James  44474988       PF   38      LAL  55  54
4             4       Kevin Durant  44119845       PF   34  BRK/PHO  47  47
..          ...                ...       ...      ...  ...      ...  ..  ..
462         462      Justin Minaya     35096       SF   23      POR   4   0
463         463       Kobi Simmons     32795       SG   25      CHO   5   0
464         464          Gabe York     32171       SG   29      IND   3   0
465         465       RaiQuan Gray      5849       PF   23      BRK   1   0
466         466      Jacob Gilyard      5849       PG   24      MEM   1   0

       MP    FG  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0    34.7  10.0  ...  12.5  31.0  5.8  2.0  7.8  0.192   7.5   0.1  7.5   4.7
1    22.2   4.1  ...  17.1  27.0 -0.4  0.7  0.3  0.020  -0.8  -0.4 -1.2   0.1
2    29.1   5.9  ...  18.4  27.7 -0.6  2.6  1.9  0.044   0.3  -0.1  0.2   1.2
3    35.5  11.1  ...  11.6  33.3  3.2  2.4  5.6  0.138   5.5   0.6  6.1   4.0
4    35.6  10.3  ...  13.4  30.7  4.7  2.1  6.8  0.194   6.0   1.2  7.1   3.9
..    ...   ...  ...   ...   ...  ...  ...  ...    ...   ...   ...  ...   ...
462  22.3   1.8  ...  14.6  13.4 -0.2  0.1 -0.1 -0.067  -7.2  -1.9 -9.0  -0.2
463   5.6   0.2  ...  12.7  11.8  0.0  0.0  0.0  0.019  -1.0   0.1 -0.9   0.0
464  18.7   2.7  ...   0.0  16.4  0.1  0.0  0.1  0.091  -1.7  -1.8 -3.5   0.0
465  35.0   6.0  ...  23.7  21.4  0.0  0.0  0.1  0.106  -0.6  -1.4 -2.0   0.0
466  41.0   1.0  ...  40.0   5.1  0.0  0.1  0.1  0.079  -7.8   1.7 -6.1   0.0

[467 rows x 52 columns]

In [104]:
duplicates = nba['Salary'].duplicated()

In [105]:
print(duplicates)

0      False
1      False
2      False
3      False
4      False
       ...
462    False
463    False
464    False
465    False
466     True
Name: Salary, Length: 467, dtype: bool

In [122]:
idx = pd.IndexSlice
print(nba.iloc[idx[465:467, :]])

     Unnamed: 0    Player Name  Salary Position  Age Team  GP  GS    MP   FG  \
465         465   RaiQuan Gray    5849       PF   23  BRK   1   0  35.0  6.0
466         466  Jacob Gilyard    5849       PG   24  MEM   1   0  41.0  1.0

     ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
465  ...  23.7  21.4  0.0  0.0  0.1  0.106  -0.6  -1.4 -2.0   0.0
466  ...  40.0   5.1  0.0  0.1  0.1  0.079  -7.8   1.7 -6.1   0.0

[2 rows x 52 columns]

In [129]:
nba1 = nba.drop('Unnamed: 0', axis = 1)

In [130]:
print(nba1)

           Player Name    Salary Position  Age     Team  GP  GS    MP    FG  \
0        Stephen Curry  48070014       PG   34      GSW  56  56  34.7  10.0
1            John Wall  47345760       PG   32      LAC  34   3  22.2   4.1
2    Russell Westbrook  47080179       PG   34  LAL/LAC  73  24  29.1   5.9
3         LeBron James  44474988       PF   38      LAL  55  54  35.5  11.1
4         Kevin Durant  44119845       PF   34  BRK/PHO  47  47  35.6  10.3
..                 ...       ...      ...  ...      ...  ..  ..   ...   ...
462      Justin Minaya     35096       SF   23      POR   4   0  22.3   1.8
463       Kobi Simmons     32795       SG   25      CHO   5   0   5.6   0.2
464          Gabe York     32171       SG   29      IND   3   0  18.7   2.7
465       RaiQuan Gray      5849       PF   23      BRK   1   0  35.0   6.0
466      Jacob Gilyard      5849       PG   24      MEM   1   0  41.0   1.0

      FGA  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0    20.2  ...  12.5  31.0  5.8  2.0  7.8  0.192   7.5   0.1  7.5   4.7
1     9.9  ...  17.1  27.0 -0.4  0.7  0.3  0.020  -0.8  -0.4 -1.2   0.1
2    13.6  ...  18.4  27.7 -0.6  2.6  1.9  0.044   0.3  -0.1  0.2   1.2
3    22.2  ...  11.6  33.3  3.2  2.4  5.6  0.138   5.5   0.6  6.1   4.0
4    18.3  ...  13.4  30.7  4.7  2.1  6.8  0.194   6.0   1.2  7.1   3.9
..    ...  ...   ...   ...  ...  ...  ...    ...   ...   ...  ...   ...
462   5.8  ...  14.6  13.4 -0.2  0.1 -0.1 -0.067  -7.2  -1.9 -9.0  -0.2
463   1.2  ...  12.7  11.8  0.0  0.0  0.0  0.019  -1.0   0.1 -0.9   0.0
464   7.0  ...   0.0  16.4  0.1  0.0  0.1  0.091  -1.7  -1.8 -3.5   0.0
465  12.0  ...  23.7  21.4  0.0  0.0  0.1  0.106  -0.6  -1.4 -2.0   0.0
466   3.0  ...  40.0   5.1  0.0  0.1  0.1  0.079  -7.8   1.7 -6.1   0.0

[467 rows x 51 columns]

In [131]:
nba2 = pd.DataFrame(nba1)

In [132]:
print(nba2)

           Player Name    Salary Position  Age     Team  GP  GS    MP    FG  \
0        Stephen Curry  48070014       PG   34      GSW  56  56  34.7  10.0
1            John Wall  47345760       PG   32      LAC  34   3  22.2   4.1
2    Russell Westbrook  47080179       PG   34  LAL/LAC  73  24  29.1   5.9
3         LeBron James  44474988       PF   38      LAL  55  54  35.5  11.1
4         Kevin Durant  44119845       PF   34  BRK/PHO  47  47  35.6  10.3
..                 ...       ...      ...  ...      ...  ..  ..   ...   ...
462      Justin Minaya     35096       SF   23      POR   4   0  22.3   1.8
463       Kobi Simmons     32795       SG   25      CHO   5   0   5.6   0.2
464          Gabe York     32171       SG   29      IND   3   0  18.7   2.7
465       RaiQuan Gray      5849       PF   23      BRK   1   0  35.0   6.0
466      Jacob Gilyard      5849       PG   24      MEM   1   0  41.0   1.0

      FGA  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0    20.2  ...  12.5  31.0  5.8  2.0  7.8  0.192   7.5   0.1  7.5   4.7
1     9.9  ...  17.1  27.0 -0.4  0.7  0.3  0.020  -0.8  -0.4 -1.2   0.1
2    13.6  ...  18.4  27.7 -0.6  2.6  1.9  0.044   0.3  -0.1  0.2   1.2
3    22.2  ...  11.6  33.3  3.2  2.4  5.6  0.138   5.5   0.6  6.1   4.0
4    18.3  ...  13.4  30.7  4.7  2.1  6.8  0.194   6.0   1.2  7.1   3.9
..    ...  ...   ...   ...  ...  ...  ...    ...   ...   ...  ...   ...
462   5.8  ...  14.6  13.4 -0.2  0.1 -0.1 -0.067  -7.2  -1.9 -9.0  -0.2
463   1.2  ...  12.7  11.8  0.0  0.0  0.0  0.019  -1.0   0.1 -0.9   0.0
464   7.0  ...   0.0  16.4  0.1  0.0  0.1  0.091  -1.7  -1.8 -3.5   0.0
465  12.0  ...  23.7  21.4  0.0  0.0  0.1  0.106  -0.6  -1.4 -2.0   0.0
466   3.0  ...  40.0   5.1  0.0  0.1  0.1  0.079  -7.8   1.7 -6.1   0.0

[467 rows x 51 columns]

In [160]:
pd.set_option('display.max_columns', None)

In [161]:
print(nba2)

           Player Name    Salary Position  Age     Team  GP  GS    MP    FG  \
0        Stephen Curry  48070014       PG   34      GSW  56  56  34.7  10.0
1            John Wall  47345760       PG   32      LAC  34   3  22.2   4.1
2    Russell Westbrook  47080179       PG   34  LAL/LAC  73  24  29.1   5.9
3         LeBron James  44474988       PF   38      LAL  55  54  35.5  11.1
4         Kevin Durant  44119845       PF   34  BRK/PHO  47  47  35.6  10.3
..                 ...       ...      ...  ...      ...  ..  ..   ...   ...
462      Justin Minaya     35096       SF   23      POR   4   0  22.3   1.8
463       Kobi Simmons     32795       SG   25      CHO   5   0   5.6   0.2
464          Gabe York     32171       SG   29      IND   3   0  18.7   2.7
465       RaiQuan Gray      5849       PF   23      BRK   1   0  35.0   6.0
466      Jacob Gilyard      5849       PG   24      MEM   1   0  41.0   1.0

      FGA    FG%   3P   3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%  \
0    20.2  0.493  4.9  11.4  0.427  5.1   8.8  0.579  0.614  4.6  5.0  0.915
1     9.9  0.408  1.0   3.2  0.303  3.1   6.7  0.459  0.457  2.3  3.3  0.681
2    13.6  0.436  1.2   3.9  0.311  4.7   9.7  0.487  0.481  2.8  4.3  0.656
3    22.2  0.500  2.2   6.9  0.321  8.9  15.3  0.580  0.549  4.6  5.9  0.768
4    18.3  0.560  2.0   4.9  0.404  8.3  13.4  0.617  0.614  6.5  7.1  0.919
..    ...    ...  ...   ...    ...  ...   ...    ...    ...  ...  ...    ...
462   5.8  0.304  0.8   3.0  0.250  1.0   2.8  0.364  0.370  0.0  0.3  0.000
463   1.2  0.167  0.2   1.0  0.200  0.0   0.2  0.000  0.250  0.4  0.4  1.000
464   7.0  0.381  2.0   6.0  0.333  0.7   1.0  0.667  0.524  0.7  0.7  1.000
465  12.0  0.500  2.0   5.0  0.400  4.0   7.0  0.571  0.583  2.0  2.0  1.000
466   3.0  0.333  1.0   3.0  0.333  0.0   0.0    NaN  0.500  0.0  0.0    NaN

     ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS  Total Minutes   PER    TS%  \
0    0.7  5.4  6.1  6.3  0.9  0.4  3.2  2.1  29.4           1941  24.1  0.656
1    0.4  2.3  2.7  5.2  0.8  0.4  2.4  1.7  11.4            755  13.6  0.498
2    1.2  4.6  5.8  7.5  1.0  0.5  3.5  2.2  15.9           2126  16.1  0.513
3    1.2  7.1  8.3  6.8  0.9  0.6  3.2  1.6  28.9           1954  23.9  0.583
4    0.4  6.3  6.7  5.0  0.7  1.4  3.3  2.1  29.1           1672  25.9  0.677
..   ...  ...  ...  ...  ...  ...  ...  ...   ...            ...   ...    ...
462  0.8  3.0  3.8  1.0  0.5  1.3  1.0  2.3   4.3             89   4.0  0.363
463  0.2  0.6  0.8  1.0  0.0  0.4  0.2  0.0   1.0             28   9.0  0.363
464  0.0  2.0  2.0  1.7  0.7  0.0  0.0  1.7   8.0             56  11.8  0.548
465  3.0  6.0  9.0  7.0  0.0  1.0  4.0  5.0  16.0             35  15.5  0.621
466  0.0  4.0  4.0  7.0  3.0  0.0  2.0  3.0   3.0             41   7.3  0.500

      3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS  \
0    0.564  0.248   2.3  16.8   9.7  30.0   1.3   0.9  12.5  31.0  5.8  2.0
1    0.322  0.334   2.1  11.4   6.8  35.3   1.8   1.4  17.1  27.0 -0.4  0.7
2    0.289  0.317   4.7  16.5  10.8  38.6   1.7   1.3  18.4  27.7 -0.6  2.6
3    0.309  0.268   3.7  20.8  12.5  33.5   1.2   1.4  11.6  33.3  3.2  2.4
4    0.267  0.387   1.2  19.5  10.5  24.5   1.0   3.4  13.4  30.7  4.7  2.1
..     ...    ...   ...   ...   ...   ...   ...   ...   ...   ...  ...  ...
462  0.522  0.043   3.8  15.6   9.7   5.9   1.1   5.0  14.6  13.4 -0.2  0.1
463  0.833  0.333   3.7  11.7   7.6  21.8   0.0   6.2  12.7  11.8  0.0  0.0
464  0.857  0.095   0.0  11.9   5.9  12.3   1.7   0.0   0.0  16.4  0.1  0.0
465  0.417  0.167   9.9  18.8  14.4  29.0   0.0   2.4  23.7  21.4  0.0  0.0
466  1.000  0.000   0.0  10.3   5.2  19.4   3.5   0.0  40.0   5.1  0.0  0.1

      WS  WS/48  OBPM  DBPM  BPM  VORP
0    7.8  0.192   7.5   0.1  7.5   4.7
1    0.3  0.020  -0.8  -0.4 -1.2   0.1
2    1.9  0.044   0.3  -0.1  0.2   1.2
3    5.6  0.138   5.5   0.6  6.1   4.0
4    6.8  0.194   6.0   1.2  7.1   3.9
..   ...    ...   ...   ...  ...   ...
462 -0.1 -0.067  -7.2  -1.9 -9.0  -0.2
463  0.0  0.019  -1.0   0.1 -0.9   0.0
464  0.1  0.091  -1.7  -1.8 -3.5   0.0
465  0.1  0.106  -0.6  -1.4 -2.0   0.0
466  0.1  0.079  -7.8   1.7 -6.1   0.0

[467 rows x 51 columns]

In [162]:
na_values = nba2.isnull().values.any()

In [163]:
print(na_values)

True

In [168]:
na_values2 = nba2.isnull().sum()
print(na_values2)

Player Name       0
Salary            0
Position          0
Age               0
Team              0
GP                0
GS                0
MP                0
FG                0
FGA               0
FG%               1
3P                0
3PA               0
3P%              13
2P                0
2PA               0
2P%               4
eFG%              1
FT                0
FTA               0
FT%              23
ORB               0
DRB               0
TRB               0
AST               0
STL               0
BLK               0
TOV               0
PF                0
PTS               0
Total Minutes     0
PER               0
TS%               1
3PAr              1
FTr               1
ORB%              0
DRB%              0
TRB%              0
AST%              0
STL%              0
BLK%              0
TOV%              0
USG%              0
OWS               0
DWS               0
WS                0
WS/48             0
OBPM              0
DBPM              0
BPM               0
VORP              0
dtype: int64

In [172]:
nba3 = nba2.dropna()

In [173]:
print(nba3.isnull().sum())

Player Name      0
Salary           0
Position         0
Age              0
Team             0
GP               0
GS               0
MP               0
FG               0
FGA              0
FG%              0
3P               0
3PA              0
3P%              0
2P               0
2PA              0
2P%              0
eFG%             0
FT               0
FTA              0
FT%              0
ORB              0
DRB              0
TRB              0
AST              0
STL              0
BLK              0
TOV              0
PF               0
PTS              0
Total Minutes    0
PER              0
TS%              0
3PAr             0
FTr              0
ORB%             0
DRB%             0
TRB%             0
AST%             0
STL%             0
BLK%             0
TOV%             0
USG%             0
OWS              0
DWS              0
WS               0
WS/48            0
OBPM             0
DBPM             0
BPM              0
VORP             0
dtype: int64

In [174]:
print(nba3.isna().sum())

Player Name      0
Salary           0
Position         0
Age              0
Team             0
GP               0
GS               0
MP               0
FG               0
FGA              0
FG%              0
3P               0
3PA              0
3P%              0
2P               0
2PA              0
2P%              0
eFG%             0
FT               0
FTA              0
FT%              0
ORB              0
DRB              0
TRB              0
AST              0
STL              0
BLK              0
TOV              0
PF               0
PTS              0
Total Minutes    0
PER              0
TS%              0
3PAr             0
FTr              0
ORB%             0
DRB%             0
TRB%             0
AST%             0
STL%             0
BLK%             0
TOV%             0
USG%             0
OWS              0
DWS              0
WS               0
WS/48            0
OBPM             0
DBPM             0
BPM              0
VORP             0
dtype: int64

In [175]:
print(nba3.info())

<class 'pandas.core.frame.DataFrame'>
Index: 433 entries, 0 to 465
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player Name    433 non-null    object
 1   Salary         433 non-null    int64
 2   Position       433 non-null    object
 3   Age            433 non-null    int64
 4   Team           433 non-null    object
 5   GP             433 non-null    int64
 6   GS             433 non-null    int64
 7   MP             433 non-null    float64
 8   FG             433 non-null    float64
 9   FGA            433 non-null    float64
 10  FG%            433 non-null    float64
 11  3P             433 non-null    float64
 12  3PA            433 non-null    float64
 13  3P%            433 non-null    float64
 14  2P             433 non-null    float64
 15  2PA            433 non-null    float64
 16  2P%            433 non-null    float64
 17  eFG%           433 non-null    float64
 18  FT             433 non-null    float64
 19  FTA            433 non-null    float64
 20  FT%            433 non-null    float64
 21  ORB            433 non-null    float64
 22  DRB            433 non-null    float64
 23  TRB            433 non-null    float64
 24  AST            433 non-null    float64
 25  STL            433 non-null    float64
 26  BLK            433 non-null    float64
 27  TOV            433 non-null    float64
 28  PF             433 non-null    float64
 29  PTS            433 non-null    float64
 30  Total Minutes  433 non-null    int64
 31  PER            433 non-null    float64
 32  TS%            433 non-null    float64
 33  3PAr           433 non-null    float64
 34  FTr            433 non-null    float64
 35  ORB%           433 non-null    float64
 36  DRB%           433 non-null    float64
 37  TRB%           433 non-null    float64
 38  AST%           433 non-null    float64
 39  STL%           433 non-null    float64
 40  BLK%           433 non-null    float64
 41  TOV%           433 non-null    float64
 42  USG%           433 non-null    float64
 43  OWS            433 non-null    float64
 44  DWS            433 non-null    float64
 45  WS             433 non-null    float64
 46  WS/48          433 non-null    float64
 47  OBPM           433 non-null    float64
 48  DBPM           433 non-null    float64
 49  BPM            433 non-null    float64
 50  VORP           433 non-null    float64
dtypes: float64(43), int64(5), object(3)
memory usage: 175.9+ KB
None

In [176]:
nba4 = nba3.astype({col: int for col in nba2.columns[7:]})

In [177]:
print(nba4.describe())

             Salary         Age          GP          GS          MP  \
count  4.330000e+02  433.000000  433.000000  433.000000  433.000000
mean   8.939026e+06   25.923788   50.796767   23.953811   20.318707
std    1.091468e+07    4.353714   23.109548   27.367487    9.032095
min    5.849000e+03   19.000000    1.000000    0.000000    2.000000
25%    1.910860e+06   23.000000   35.000000    1.000000   13.000000
50%    4.124280e+06   25.000000   56.000000    9.000000   19.000000
75%    1.121526e+07   29.000000   69.000000   50.000000   28.000000
max    4.807001e+07   42.000000   83.000000   83.000000   37.000000

               FG         FGA    FG%          3P         3PA         3P%  \
count  433.000000  433.000000  433.0  433.000000  433.000000  433.000000
mean     3.076212    7.062356    0.0    0.669746    2.575058    0.006928
std      2.451608    4.991965    0.0    0.863045    2.256580    0.083044
min      0.000000    1.000000    0.0    0.000000    0.000000    0.000000
25%      1.000000    3.000000    0.0    0.000000    1.000000    0.000000
50%      2.000000    6.000000    0.0    0.000000    2.000000    0.000000
75%      4.000000    9.000000    0.0    1.000000    4.000000    0.000000
max     11.000000   22.000000    0.0    4.000000   11.000000    1.000000

               2P         2PA         2P%   eFG%          FT         FTA  \
count  433.000000  433.000000  433.000000  433.0  433.000000  433.000000
mean     2.006928    4.069284    0.006928    0.0    1.071594    1.519630
std      2.025862    3.593951    0.083044    0.0    1.593375    1.925753
min      0.000000    0.000000    0.000000    0.0    0.000000    0.000000
25%      1.000000    1.000000    0.000000    0.0    0.000000    0.000000
50%      1.000000    3.000000    0.000000    0.0    0.000000    1.000000
75%      3.000000    6.000000    0.000000    0.0    1.000000    2.000000
max     10.000000   17.000000    1.000000    0.0   10.000000   12.000000

              FT%         ORB         DRB         TRB         AST         STL  \
count  433.000000  433.000000  433.000000  433.000000  433.000000  433.000000
mean     0.055427    0.457275    2.346420    3.198614    1.748268    0.189376
std      0.229077    0.765971    1.703779    2.255097    1.991627    0.398118
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    1.000000    2.000000    0.000000    0.000000
50%      0.000000    0.000000    2.000000    3.000000    1.000000    0.000000
75%      0.000000    1.000000    3.000000    4.000000    3.000000    0.000000
max      1.000000    5.000000    9.000000   12.000000   10.000000    2.000000

              BLK         TOV          PF         PTS  Total Minutes  \
count  433.000000  433.000000  433.000000  433.000000     433.000000
mean     0.073903    0.695150    1.321016    9.205543    1177.321016
std      0.295158    0.876335    0.794044    6.907240     809.128670
min      0.000000    0.000000    0.000000    0.000000      18.000000
25%      0.000000    0.000000    1.000000    4.000000     457.000000
50%      0.000000    0.000000    1.000000    7.000000    1091.000000
75%      0.000000    1.000000    2.000000   12.000000    1904.000000
max      2.000000    4.000000    5.000000   33.000000    2963.000000

              PER    TS%   3PAr         FTr        ORB%        DRB%  \
count  433.000000  433.0  433.0  433.000000  433.000000  433.000000
mean    12.997691    0.0    0.0    0.002309    4.621247   14.346420
std      4.784475    0.0    0.0    0.048057    3.856778    5.743361
min     -1.000000    0.0    0.0    0.000000    0.000000    0.000000
25%     10.000000    0.0    0.0    0.000000    2.000000   10.000000
50%     13.000000    0.0    0.0    0.000000    3.000000   13.000000
75%     16.000000    0.0    0.0    0.000000    6.000000   17.000000
max     31.000000    0.0    0.0    1.000000   20.000000   40.000000

             TRB%        AST%        STL%        BLK%        TOV%        USG%  \
count  433.000000  433.000000  433.000000  433.000000  433.000000  433.000000
mean     9.473441   13.443418    1.053118    1.351039   12.168591   17.983834
std      4.324763    8.535989    0.751200    1.517370    5.015876    5.575842
min      0.000000    0.000000    0.000000    0.000000    0.000000    7.000000
25%      6.000000    7.000000    1.000000    0.000000    9.000000   14.000000
50%      8.000000   11.000000    1.000000    1.000000   12.000000   17.000000
75%     12.000000   18.000000    1.000000    2.000000   14.000000   21.000000
max     29.000000   47.000000    5.000000    8.000000   41.000000   38.000000

              OWS         DWS          WS  WS/48        OBPM        DBPM  \
count  433.000000  433.000000  433.000000  433.0  433.000000  433.000000
mean     1.013857    0.782910    2.080831    0.0   -0.944573   -0.069284
std      1.637181    0.937384    2.475889    0.0    2.527932    0.971732
min     -1.000000    0.000000   -1.000000    0.0  -11.000000   -4.000000
25%      0.000000    0.000000    0.000000    0.0   -2.000000    0.000000
50%      0.000000    0.000000    1.000000    0.0   -1.000000    0.000000
75%      1.000000    1.000000    3.000000    0.0    0.000000    0.000000
max      9.000000    4.000000   12.000000    0.0    8.000000    4.000000

              BPM        VORP
count  433.000000  433.000000
mean    -1.099307    0.438799
std      3.025635    1.021333
min    -15.000000   -1.000000
25%     -3.000000    0.000000
50%     -1.000000    0.000000
75%      0.000000    0.000000
max      9.000000    6.000000